- mustache "log" do
  .log{:class => "{{severity}} {{section}}", :id => "{{messageClass}}"}
    %span{:class => "quality-{{quality}}"} 
      {{name}}
    {{message}}
    {{#submsg}}
    .sub {{.}}
    {{/submsg}}

- mustache "talent_set" do
  %button.talent_set{:"data-spec" => "{{spec}}", :"data-talents" => "{{talent_string}}"} {{name}}

- mustache "tree" do
  .tree
    {{#talents}}
    .talent.tt{:class => "row-{{tier}} col-{{column}}", :"data-tooltip-type" => "spell", :"data-tooltip-id" => "{{id}}", :style => "background-image: url(http://wow.zamimg.com/images/wow/icons/large/{{i}}.jpg);"}
      .grey
    {{/talents}}

- mustache "tier" do
  .tiers
    {{#levels}}
    .level{:class => "row-level-{{tier}}"} {{level}}
    {{/levels}}

- mustache "specactive" do
  %span.spec-icon{:style => "background-image: url(http://wow.zamimg.com/images/wow/icons/medium/{{icon}}.jpg);"}
  %span.spec-name {{name}}

- mustache "artifactactive" do
  %span.spec-icon{:style => "background-image: url(http://wow.zamimg.com/images/wow/icons/medium/{{icon}}.jpg);"}
  %span.spec-name {{name}}
-# Enable this once we know how much power gets spent on each trait
-#  %span.power-spent{:style => "float:right"} Relic Power Spent: 0

- mustache "tooltip" do
  {{#title}}
  .title {{.}}
  {{/title}}
  {{#info}}
  .info {{.}}
  {{/info}}
  {{#desc}}
  .desc
    %p {{.}}
    {{#nextdesc}}
    %p {{.}}
    {{/nextdesc}}
  {{/desc}}

- mustache "stats" do
  {{#stats}}
  .stat
    %span.key {{name}}
    %span.val {{{val}}}
  {{/stats}}

- mustache "bonuses" do
  %h1 Item Bonuses
  %form#bonuses
    {{#groups/suffixes_active}}
    %fieldset.bonus_line
      %Legend Suffixes
      <select class="optionSelect" name="{{key}}">
      {{#groups/suffixes}}
      %label.label_select
        <option value="{{bonusId}}" {{#active}}selected="selected"{{/active}}>
        {{#entries}}
        {{val2}} {{val1}} /
        {{/entries}}
        ({{ep}} EP)
        </option>
      {{/groups/suffixes}}
      </select>
    {{/groups/suffixes_active}}
    {{#groups/sockets_active}}
    %fieldset.bonus_line
      %Legend Extra Sockets
      {{#groups/sockets}}
      .stat{:"data-bonusid" => "{{bonusId}}"}
        %label.label_check
          {{#active}}
          %input{:type=> "checkbox", :name => "bonus", :value => "{{bonusId}}", :checked => "checked"}
          {{/active}}
          {{^active}}
          %input{:type=> "checkbox", :name => "bonus", :value => "{{bonusId}}"}
          {{/active}}
          {{#entries}}
          {{val1}} {{val2}} Socket
          {{/entries}}
      {{/groups/sockets}}
    {{/groups/sockets_active}}
    {{#groups/tertiary_active}}
    %fieldset.bonus_line
      %Legend Tertiary Stats
      {{#groups/tertiary}}
      .stat{:"data-bonusid" => "{{bonusId}}"}
        %label.label_check
          {{#active}}
          %input{:type=> "checkbox", :name => "bonus", :value => "{{bonusId}}", :checked => "checked"}
          {{/active}}
          {{^active}}
          %input{:type=> "checkbox", :name => "bonus", :value => "{{bonusId}}"}
          {{/active}}
          {{#entries}}
          +{{val2}} {{val1}}
          {{/entries}}
      {{/groups/tertiary}}
    {{/groups/tertiary_active}}
    {{#groups/titanforged_active}}
    %fieldset.bonus_line
      %Legend Titanforged Upgrades
      <select class="optionSelect" name="{{key}}">
      {{#groups/titanforged}}
      %label.label_select
        <option value="{{bonusId}}" {{#active}}selected="selected"{{/active}}>
        {{#entries}}
        {{val2}} / {{val1}} /
        {{/entries}}
        ({{ep}} EP)
        </option>
      {{/groups/titanforged}}
      </select>
    {{/groups/titanforged_active}}
    %input.ui-button.ui-widget.ui-state-default.ui-corner-all.applyBonuses{:role => "button", :value => "Apply"}
    -#%input.ui-button.ui-widget.ui-state-default.ui-corner-all.clearBonuses{:role => "button", :value => "Reset"}

- mustache("itemSlot") do
  .slot{:id => "{{item/id}}", :"data-identifier" => "{{identifier}}", :"data-slot" => "{{slot}}", :"data-search" => "{{search}}"}<
    .image<
      {{#item}}
      {{#icon}}
      -#%img{:src => "http://wow.zamimg.com/images/wow/icons/large/{{.}}.jpg"}
      %img{:src => "http://us.media.blizzard.com/wow/icons/56/{{.}}.jpg"}
      {{/icon}}
      {{/item}}

      %span.ilvl {{item/ilvl}}
    {{#lock}}
    .lock{:class => "{{lock_class}}"}< 
      %img{:src => "/images/{{lock_class}}.png"}
    {{/lock}}
    .name.tt{:class => "quality-{{item/quality}}", :"data-tooltip-id" => "{{ttid}}", :"data-tooltip-rand" => "{{ttrand}}", :"data-tooltip-upgd" => "{{ttupgd}}", :"data-tooltip-bonus" => "{{ttbonus}}", :"data-tooltip-gems" => "{{ttgems}}", :"data-tooltip-spec" => "{{ttspec}}"}
      {{item/name}}
      {{item/name_suffix}}
      %em.heroic {{item/tag}}
      {{#upgradable}}
      {{#upgrade}}
      %em.upgrade {{curr_level}}/{{max_level}}
      %img.upgrade{:src => "/images/up_arrow.png"}
      {{/upgrade}}
      {{/upgradable}}
      -#{{#item/id}}
      %a.wowhead{:href => "http://legion.wowhead.com/item={{ttid}}", :target => "_blank"} Wowhead
      -#{{/item/id}}

    {{#bonusable}}
    .bonuses<
      =image_tag "/images/reforge.png"
      {{#bonuses}}
      %span.oldstat -1 Test
      %span.newstat +1 Test
      {{/bonuses}}
      {{^bonuses}}
      Modify Bonuses
      {{/bonuses}}
    {{/bonusable}}

    {{#enchantable}}
    .enchant
      {{#enchant}}
      %span.img<
        %img{:src => "http://wow.zamimg.com/images/wow/icons/medium/{{icon}}.jpg"}
      {{desc}}
      {{/enchant}}
    {{/enchantable}}

    .gems
      {{#gems}}
      .gem.tt{:class => "{{slot}}", :"data-tooltip-id" => "{{gem/id}}"}
        %span.socket
          %img{:src => "/images/icons/Socket_{{socket}}.png"}
        {{#gem}}
        %span.img<
          %img{:src => "http://wow.zamimg.com/images/wow/icons/small/{{icon}}.jpg"}
        %span.gem_name {{name}}
        {{/gem}}
      {{/gems}}
      {{#socketbonus}}
      .bonus
        Socket Bonus: +{{amount}} {{stat}}
      {{/socketbonus}}
    {{#desc}}
    %span.desc
      {{.}}
    {{/desc}}
    {{#percent}}
    %span.pct<>
      .label {{../ep}}
      .pct-inner{:style => "width: {{.}}%"}<>
    {{/percent}}

- mustache("checkbox") do
  %label.label_check(for="opt-{{namespace}}-{{key}}")
    %input.optionCheck(type="checkbox" name="{{key}}" id="opt-{{namespace}}-{{key}}" data-ns="{{namespace}}")
    {{label}}<span>{{desc}}</span>

- mustache("input") do
  %label.input
    %span.label {{label}}
    %input.optionInput(type="text" name="{{key}}" id="opt-{{namespace}}-{{key}}" data-ns="{{namespace}}")
    %span.desc {{desc}}

- mustache("select") do
  %label.select
    %span.label {{label}}
    %span.select-container
      <select class="optionSelect" name="{{key}}" id="opt-{{namespace}}-{{key}}" data-ns="{{namespace}}">
      {{#options}}
      <option value="{{value}}">{{name}}</option>
      {{/options}}
      </select>
    %span.desc {{desc}}

- mustache("talent_contribution") do
  .talent_contribution{:"data-val" => "{{width}}", :id => "talent-weight-{{raw_name}}"}
    .name {{name}}
    .pct
      .label {{val}}
      .pct-inner{:style => "width: {{width}}%"}

- mustache "loadSnapshots" do
  %table
    %thead
      %tr
        %th Name
        %th Tools
    %tbody
      {{#snapshots}}
      %tr
        %td
          %a{:href => '#', :'data-snapshot' => "{{.}}", :class => 'selectSnapshot' } {{.}}
        %td
          %a{:href => '#', :'data-snapshot' => "{{.}}", :class => 'deleteSnapshot' } Delete
      {{/snapshots}}

- mustache("artifact") do
  #relic1.relicframe.tt{:style => "left:calc(50% - 130px);background-image: url(/images/artifacts/relic-{{relic1}}.png)"}
    %img.relicicon.inactive
  #relic2.relicframe.tt{:style => "left:calc(50% - 40px);background-image: url(/images/artifacts/relic-{{relic2}}.png)"}
    %img.relicicon.inactive
  #relic3.relicframe.tt{:style => "left:calc(50% + 50px);background-image: url(/images/artifacts/relic-{{relic3}}.png)"}
    %img.relicicon.inactive
  {{#traits}}
  .trait.tt{:style => "left:{{left}}%;top:{{top}}%;", :id => "{{id}}", "data-tooltip-type" => "spell", "data-tooltip-id" => "{{spell_id}}", "data-tooltip-rank" => "0", "max_level" => "{{max_level}}"}
    =image_tag "/images/artifacts/relic-blood.png", :class => "relic inactive"
    =image_tag "http://wow.zamimg.com/images/wow/icons/large/{{icon}}.jpg", :class => "icon"
    =image_tag "/images/artifacts/ring-{{ring}}.png", :class => "ring{{#is_thin}} ring-thin{{/is_thin}}"
    .level 0/{{max_level}}
  {{/traits}}
  {{#lines}}
  .line{:style => "width:{{width}}px;left:{{left}}%;top:{{top}}%;transform:rotate({{angle}}deg);", :spell1 => "{{spell1}}", :spell2 => "{{spell2}}"}
  {{/lines}}
