%h1 Characters
- @characters.each do |character|
  .character
    =link_to character.fullname, character

=error_messages_for :character
%h1 Import Character
- semantic_form_for @character do |f|
  - f.inputs do
    =f.input :name
    =f.input :realm
    %label.label_radio
      =f.radio_button :region, "US"
      US
    %label.label_radio
      =f.radio_button :region, "EU"
      EU
  - f.buttons do
    =f.submit
:javascript
  RogueApp.commonInit(jQuery)