#create_character
  .form
    =error_messages_for :character
    =form_for @character do |f|
      %span
        %label{:for => "character_name"} Character Name
        =f.text_field :name
      %span
        %label{:for => "character_realm"} Realm
        =f.text_field :realm
      %span
        %label{:for => "character_region"} Region
        .regions
          %label
            #{f.radio_button :region, "US"}  US
          %label
            #{f.radio_button :region, "EU"} EU
      .submit
        =f.submit "Begin"
  :javascript
    Shadowcraft.commonInit()
    $(".submit").hide()
    var cname = $("#character_name"), crealm = $("#character_realm")
    var showSubmit = function() {
      if(cname.val() && crealm.val() && crealm.val().length > 3) {
        $(".submit:hidden").animate({opacity: 'show', height: 'show'}, 300)
      }
    }
    setInterval(showSubmit, 100)