::-webkit-scrollbar {
width:15px;
height:15px;
}
::-webkit-scrollbar-corner {
background-image:url(../../images/scrollbar/corner.png);
background-repeat:no-repeat;
}
::-webkit-resizer {
background-image:url(../../images/scrollbar/resizer.png);
background-repeat:no-repeat;
background-position:bottom right;
}
::-webkit-scrollbar-button:start {
display:none;
}
::-webkit-scrollbar-button:end {
display:block;
}
::-webkit-scrollbar:horizontal {
-webkit-border-image:url(http://help.apple.com/mobileme/images/horizontal-button.png) 0 2 0 2;
border-style:solid;
border-color:transparent;
border-width:0 2px;
background-image:url(http://help.apple.com/mobileme/images/horizontal-button-background.png);
background-repeat:repeat-x;
}
::-webkit-scrollbar:horizontal:corner-present {
border-right-width:0;
}
::-webkit-scrollbar-thumb:horizontal {
-webkit-border-image:url(http://help.apple.com/mobileme/images/horizontal-thumb.png) 0 15 0 15;
border-style:solid;
border-color:transparent;
border-width:0 15px;
min-width:20px;
}
::-webkit-scrollbar-track-piece:horizontal:start {
margin-left:6px;
}
::-webkit-scrollbar-track-piece:horizontal:end {
margin-right:-6px;
}
::-webkit-scrollbar-track-piece:horizontal:decrement {
-webkit-border-image:url(http://help.apple.com/mobileme/images/horizontal-track.png) 0 15 0 15;
border-style:solid;
border-color:transparent;
border-width:0 0 0 15px;
}
::-webkit-scrollbar-track-piece:horizontal:increment {
-webkit-border-image:url(http://help.apple.com/mobileme/images/horizontal-track.png) 0 15 0 15;
border-style:solid;
border-color:transparent;
border-width:0 15px 0 0;
}
::-webkit-scrollbar-button:horizontal {
width:21px;
-webkit-border-image:url(http://help.apple.com/mobileme/images/horizontal-button.png) 0 2 0 2;
border-style:solid;
border-color:transparent;
border-width:0 2px;
}
::-webkit-scrollbar-button:horizontal:decrement {
background-image:url(http://help.apple.com/mobileme/images/horizontal-decrement-arrow.png), url(http://help.apple.com/mobileme/images/horizontal-button-background.png);
background-repeat:no-repeat, repeat-x;
background-position:7px 4px, 0 0;
}
::-webkit-scrollbar-button:horizontal:decrement:active {
-webkit-border-image:url(http://help.apple.com/mobileme/images/horizontal-button-active.png) 0 2 0 2;
border-style:solid;
background-image:url(http://help.apple.com/mobileme/images/horizontal-decrement-arrow.png), url(http://help.apple.com/mobileme/images/horizontal-button-background-active.png);
}
::-webkit-scrollbar-button:horizontal:increment {
background-image:url(http://help.apple.com/mobileme/images/horizontal-increment-arrow.png), url(http://help.apple.com/mobileme/images/horizontal-button-background.png);
background-repeat:no-repeat, repeat-x;
width:16px;
border-left-width:0;
background-position:3px 4px, 0 0;
}
::-webkit-scrollbar-button:horizontal:increment:active {
-webkit-border-image:url(http://help.apple.com/mobileme/images/horizontal-button-active.png) 0 2 0 2;
border-style:solid;
background-image:url(http://help.apple.com/mobileme/images/horizontal-increment-arrow.png), url(http://help.apple.com/mobileme/images/horizontal-button-background-active.png);
}
::-webkit-scrollbar-button:horizontal:end:increment:corner-present {
border-right-width:0;
width:15px;
}
::-webkit-scrollbar:vertical {
-webkit-border-image:url(http://help.apple.com/mobileme/images/vertical-button.png) 2 0 2 0;
border-style:solid;
border-color:transparent;
border-width:2px 0;
background-image:url(http://help.apple.com/mobileme/images/vertical-button-background.png);
background-repeat:repeat-y;
}
::-webkit-scrollbar:vertical:corner-present {
border-bottom-width:0;
}
::-webkit-scrollbar-thumb:vertical {
-webkit-border-image:url(http://help.apple.com/mobileme/images/vertical-thumb.png) 15 0 15 0;
border-style:solid;
border-color:transparent;
border-width:15px 0;
min-height:20px;
}
::-webkit-scrollbar-track-piece:vertical:start {
margin-top:6px;
}
::-webkit-scrollbar-track-piece:vertical:end {
margin-bottom:-6px;
}
::-webkit-scrollbar-track-piece:vertical:decrement {
-webkit-border-image:url(http://help.apple.com/mobileme/images/vertical-track.png) 15 0 15 0;
border-style:solid;
border-color:transparent;
border-width:15px 0 0 0;
}
::-webkit-scrollbar-track-piece:vertical:increment {
-webkit-border-image:url(http://help.apple.com/mobileme/images/vertical-track.png) 15 0 15 0;
border-style:solid;
border-color:transparent;
border-width:0 0 15px 0;
}
::-webkit-scrollbar-button:vertical {
height:21px;
-webkit-border-image:url(http://help.apple.com/mobileme/images/vertical-button.png) 2 0 2 0;
border-style:solid;
border-color:transparent;
border-width:2px 0;
}
::-webkit-scrollbar-button:vertical:decrement {
background-image:url(http://help.apple.com/mobileme/images/vertical-decrement-arrow.png), url(http://help.apple.com/mobileme/images/vertical-button-background.png);
background-repeat:no-repeat, repeat-y;
background-position:4px 7px, 0 0;
}
::-webkit-scrollbar-button:vertical:decrement:active {
-webkit-border-image:url(http://help.apple.com/mobileme/images/vertical-button-active.png) 2 0 2 0;
border-style:solid;
background-image:url(http://help.apple.com/mobileme/images/vertical-decrement-arrow.png), url(http://help.apple.com/mobileme/images/vertical-button-background-active.png);
}
::-webkit-scrollbar-button:vertical:increment {
background-image:url(http://help.apple.com/mobileme/images/vertical-increment-arrow.png), url(http://help.apple.com/mobileme/images/vertical-button-background.png);
background-repeat:no-repeat, repeat-y;
height:16px;
border-top-width:0;
background-position:4px 5px, 0 0;
}
::-webkit-scrollbar-button:vertical:increment:active {
-webkit-border-image:url(http://help.apple.com/mobileme/images/vertical-button-active.png) 2 0 2 0;
border-style:solid;
background-image:url(http://help.apple.com/mobileme/images/vertical-increment-arrow.png), url(http://help.apple.com/mobileme/images/vertical-button-background-active.png);
}
::-webkit-scrollbar-button:vertical:end:increment:corner-present {
border-bottom-width:0;
height:15px;
}
::-webkit-scrollbar:disabled {
background:red;
-webkit-border-image:none;
border-style:solid;
display:none;
}